*{
 padding:0;
 margin:0;
}

.container{
  position: absolute;
  width:100%;
  height:100%;
  background: rgb(168, 168, 168);
}

.header{
  position: relative;
  width: 100%;
  height: 68px;
  background: white;
}

.main{
  position: relative;
  width: 100%;
  height: 400px;
  background: rgba(97, 76, 208, 0.35);
}

.main-center{
  position: relative;
  top: 50%;
  width: 40%;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
  transform: translateY(-50%);
}

.main-content{
  margin-bottom: 30px;
  text-align: center;
  color:white;
}

.font-30{
  font-size: 30px;
}

.font-10{
  font-size: 14px;
}

.overlay{
  width:100px;
  height:30px;
  margin: 0 auto;
  background: rgba(105, 125, 158, 0.959);
  border-radius: 17px;
  line-height: 30px;
}

.footer{
  position: relative;
  width: 100%;
  height: 350px;
  background: white;
}

.footer-content{
    position: relative;
    width: 25%;
    height: 280px;
    padding: 20px;
    background: white;
    float:left;
    margin:-85px 20px 20px 20px;
}

.footer-content div{
  margin: 25px;

}

ul{
  position: relative;
  top: 22px;
  float: right;
  margin-right: 150px;
}

li{
  display:inline;
  margin-left:20px;
}

